[global_config]
  dbus = False
  title_transmit_bg_color = "#729fcf"  
  enabled_plugins = LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler, CustomCommandsMenu
[keybindings]
[profiles]
  [[default]]
    background_color = "#eeeeec"
    cursor_color     = "#aaaaaa"
    foreground_color = "#2e3436"
    scrollback_lines = 50000
{%- set count = namespace(value=0) -%}
{%- for i in instances %}
  [[dyn{{ count.value }}]]
    background_color   = "#eeeeec"
    cursor_color       = "#aaaaaa"
    foreground_color   = "#2e3436"
    scrollback_lines   = 50000
    exit_action        = restart
    use_custom_command = True
    custom_command     = ssh {{ i['PrivateIpAddress'] }}
{%- set count.value = count.value + 1 -%}
{%- endfor %}
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      order = 0
      parent = ""
{% if instances|length > 1 -%}
    [[[child1]]]
      labels = {% for i in instances %} {{ i['Name'] }}, {%- endfor %}
      type = Notebook
      order = 0
      parent = child0
      active_page = 1
{%- endif -%}
{%- set count = namespace(value=0) -%}
{%- for i in instances %}
    [[[terminal{{ count.value }}]]]
        profile = dyn{{ count.value }}
        type = Terminal
        order = 0
        parent = {%- if instances|length > 1 -%}child1{% else %}child0{%- endif %}
        group = {{ group_id }}
{%- set count.value = count.value + 1 -%}
{%- endfor %}
[plugins]
